.frame { border:0; }

h1 { font-size:20px; }

code { background: #E5E5E5; padding: 0 4px; font-family: "Courier New"; font-size: 13px; }

#newVirtualHost { margin-bottom: 10px; }

form { padding-bottom: 10px; }
fieldset { margin: 10px 0; padding: 10px; }
legend { font-size: 14px; padding: 0 7px; }

.http-logs { margin: 0 5px 10px 0; }
    .http-logs a { margin-right: 5px;}

.propertyTitle { font-weight: bold; }
input[type=text] { margin:5px 0 10px 0; padding: 3px 5px; font-size: 12px; border: 0; width: 97%; background:#F0F0F0; }
.newProperty { margin-top: 10px; }
#newPropertyDialog input[type=text], #newVirtualHostDialog input[type=text] { background:#CECECE; }
.deleteVirtualHostProperty { float: right; display:block; margin:7px 0 0 7px; }
.unsavedChanges { border-color: #CD2626; }
.unsavedChanges legend, span.unsavedChanges { color: #CD2626; font-weight: bold; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }